<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
   
   <meta http-equiv="x-dns-prefetch-control" content="on">
   <link rel="dns-prefetch" href="http://resjrprd.suning.com">
   
   <meta charset="UTF-8">
   <meta http-equiv="pragma" content="no-cache">
   <meta http-equiv="Cache-Control" content="no-store, must-revalidate">
   <meta http-equiv="expires" content="0">
   
   <meta name="apple-mobile-web-app-capable" content="yes">
   
   <meta name="apple-mobile-web-app-status-bar-style" content="black">
   
   <meta name="format-detection" content="email=no">
   <meta name="format-detection" content="telephone=no">
   <title>账单详情</title>
   
   
   
<link href="../../css/main.css?2dc778728ee84bac922b" rel="stylesheet"><script type="text/javascript" src="../../js/app-base.js?6147814122959971"></script></head>
<body>
<div id="app">
   <div class="loading" v-show="isloading"></div>
   <div v-show="!isloading" style="display:none;">
      <section class="content info-area">
         <div class="have-bottom-content">
            <div class="info-area bill-detail-info-area">
               <div class="money-area">
                  <div class="icon-paid"><div class="payClear"></div></div>
                  <p>借款总额</p>
                  <p>{{loanDetail.totalLoanPrincipalAmt | amount}}</p>
               </div>
               <div class="text-list bill-text-list clearfix">
                  <div class="text-item clearfix">
                     <span class="info-left">账单说明</span>
                     <div class="info-right">{{loanDetail.txnDesc}}</div>
                  </div>
                  <div class="text-item clearfix">
                     <div class="info-left">借款时间</div>
                     <div class="info-right">{{loanDetail.tranTime}}</div>
                  </div>
                  <div class="text-item clearfix">
                     <div class="info-left">借用天数</div>
                     <div class="info-right"><template v-if="Number(loanDetail.borrowDays)==0">1</template><template v-else>{{loanDetail.borrowDays}}</template>天
                     </div>
                  </div>
                  <div class="text-item clearfix">
                     <div class="info-left">贷款状态</div>
                     <div class="info-right">
                        {{(loanDetail.loanStatus == 'S') ? '放款成功' : ((loanDetail.loanStatus=='F') ? '放款失败' : ((loanDetail.loanStatus == 'I') ? '放款中' : ''))}}
                     </div>
                  </div>
                  <div class="text-item clearfix">
                     <div class="info-left">总费用</div>
                     <div class="info-right">{{loanDetail.currTotalIntePint | amount}}元
                     </div>
                  </div>
                  <div class="text-item clearfix">
                     <div class="info-left">贷款账号</div>
                     <div class="info-right">{{loanDetail.dealRefNo}}</div>
                  </div>
               </div>
            </div>
            <div class="split-line-long"></div>
            <div class="iou-record-area">
               <a :href="baseurl+'/account/html/common/receipt.html?dealRefNo=' + loanDetail.dealRefNo">
                  <template v-if="darwRecord.haveDoc">
                     <div class="haveicon-item clearfix">
                        <div class="title">借款借据</div>
                        <div class="arrow"><span class="iconright"></span></div>
                     </div>
                  </template>
               </a>
               <a :href="baseurl+'/account/html/common/repayedrecord.html?dealRefNo=' + loanDetail.dealRefNo+'&productCode='+loanDetail.productCode">
                  <div class="haveicon-item clearfix">
                     <div class="title">还款记录</div>
                     <div class="arrow"><span class="iconright"></span></div>
                  </div>
               </a>
            </div>
            <template v-if="loanDetail.repayHist && (String(loanDetail.repayHist).length>0)">
               <div class="mod_title">还款明细</div>
               <div class="bill-detail-list-area">
                  <template v-for="list in loanDetail.repayHist">
                     <div class="haveicon-item payed-process payed2-process">
                        <div class="title">{{list.repayDetail  | amount}}</div>
                        <div class="right">{{list.paymentDate}}</div>
                     </div>
                  </template>
               </div>
            </template>

         </div>
         <input type="hidden" id="repayMaxAmt" :value="Number(loanDetail.leftPrincipal) + Number(loanDetail.currInte)">
         
         <compmodal v-if="flagPop" @close-modal="closeWin" :data="popWindowData"></compmodal>
      </section>
   </div>
</div>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            /***** url *****/
            baseurl: config.domain,

            loanDetail: {},
            darwRecord: {},
            // ****************弹窗(公用)*****************
            //弹出框数据
            popWindowData : {
                title: '消息提示',
                msg: '<p style="text-align:center;line-height:50px;">网络异常,请稍后再试...</p>',
                closeBtn : '知道啦~'
            },
            //弹出框初始化显示
            flagPop: false,

            // ****************当请求到后端数据的状态码异常显示弹窗(公用)*****************
            popMessage:"",

            /***** 解决vue花括号提前加载 *****/
            isloading:true
        },
        methods:{
            //隐藏弹出框
            closeWin: function() {
                this.flagPop = false;
            },
            //打开弹出框
            showpopwindow : function () {
                this.flagPop = true;
            }
        },
        components:{
            'compmodal':compModal
        },
        mounted:function(){
            // 参数获取
            var dataParams = {
                token: (config.querys().token ? encodeURIComponent(config.querys().token) : ""),
                channelType: (config.querys().channelType ? encodeURIComponent(config.querys().channelType) : ""),
                dealRefNo: config.querys().dealRefNo || '',
                random: Math.random()
            };
            //2.根据token,获取数据
            this.$http.get(config.domain + config.urls.bill.borrow.acctHistorySjsh, {params:dataParams}).then(function(resp){
                var jsoninnerObj = resp.body;
                if(jsoninnerObj.code=="0000" && jsoninnerObj.data){
                    this.isloading = false;
                    //有数据
                    var dat = jsoninnerObj.data;
                    this.loanDetail = dat.loanDetail || {};
                    this.darwRecord = dat.darwRecord;
                }else {
                    this.isloading = false;
                    this.flagPop = true;
                    this.popWindowData.msg ='<p style="text-align:center;line-height:50px;">'+(jsoninnerObj.msg || '数据异常，请稍后再试...')+'</p>';
                }
            },function(err){
                // 当请求不到后端数据,则会弹窗提示网络异常
                this.flagPop = true;
                this.isloading = false;
            });
        },
        updated:function(){

        }
    })
</script>
</body>
</html>